/*

	FRESH = #F7F5E6
	VERMILLION = #333A56
	SUNSHINE = #52658F
	CLEAN = #E8E8E8
	
*/


body
{
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
	background-color:#D3DBE8;
	user-select:none;
}
a
{ 
	text-decoration: none;
	padding-left: 8px;	
	color:#333A56 !important;
	line-height: 25px;
	transition:.3s;
}
a:hover{
	color:#52658F !important;
}

input
{
	padding: 8px;
	font-family: 'Alegreya Sans', sans-serif;
}
input[type="email"], input[type="password"], input[type="text"]
{
	color:#333A56;
	font-size: 15px;
	outline:none;
	font-family: 'Alegreya Sans', sans-serif;
}
::placeholder{
	font-family: 'Alegreya Sans', sans-serif;
	color:#333A56;
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #373737;
}
input[type="date"]
{
	background-color: white;
	color:#9e9e9e;
	border: none;
	font-size: 15px;
	border-bottom: 1px solid #b7b7b7;
	outline: none;
	margin-bottom: 2px;
}
input[type="date"]:focus{
	border-bottom: 1px solid #C0B283;
}

input[type="checkbox"]
{
	outline: none;
	margin-bottom: 10px;
}
button[type="submit"]
{
	width: 100%;
	border-radius: 6px;
	border:none;
	color:#F4F4F4;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 8px;
	line-height: 30px;
	cursor: pointer;
	transition: .3s;
	background-color: #333A56;
	border: 2px solid #333A56;
	outline: none;
	font-family: 'Alegreya Sans', sans-serif;
}
button[type="submit"]:hover
{
	opacity: .85;
}
button[type="submit"]:active
{
	color:#333A56;
	background-color: white;

}
select
{
	border-radius: 5px;
	padding:13px;
	margin-bottom: 20px;
	font-size: 15px;
	display: block !important;
	color:#C0B283;
	background-color: transparent;
	outline: none;
	font-family: 'Alegreya Sans', sans-serif;
}
select:focus
{
	background-color: white;
}
select option 
{
   color:#F4F4F4;
   background-color: #333A56;
} 
select:not(:checked) 
{
   color:  #9e9e9e;
}
.none
{
	display: none;
}
.logo
{
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: auto;
	margin-top: 2%;
	
}
.log
{
	width:400px;
	color:#373737;
	margin-left: auto;
	margin-right: auto;
	padding:40px;
	padding-bottom: 0;
	text-align: center;
	background-color:white;
	user-select: none;
	border-radius: 6px;
	box-shadow: 0px 0px 110px -33px #F7F5E6;
	font-size: 15px;
}
.regist
{
	text-align: left;
}
.button
{
	text-align: left;
}
.mat
{
	width: 160px !important;

}
.type
{
	text-align: right;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}
.w
{
	width:46% !important;
	float:left;
}
.date
{
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 4px;
	text-align: right;
}
@media (max-width: 500px)
{
	.log
	{
		width: 100%;
		padding: 20px 0 20px 0;
		border-radius: 0;
	}
	button[type="submit"]
	{
		width:90%;
	
	}
	.regist
	{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.button
	{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.type
	{
		width: 90%;
	}
	.logo
	{
		width: 75vw;
		height: auto;
	}
	input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus
	{
		width: 94%;
	}

}
