/** investimento **/

.flex-1 .div{
  flex: 1;
  color:#E8E8E8;
  margin-top: 25px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.oi i{
  transition: none !important;
  cursor: pointer;
}
.oi i:hover{
  margin-top: 0px;
  font-size: 20px !important;
  color:#E8E8E8 !important;
}

.flex-1{
  display: flex;
}
@media (max-width:1000px){
  
  .flex-1{
    flex-direction: column;
  }
  .flex-1 .div{ 
    line-height: 25px;
    margin-top: 0px;
  }
  .ope{
    margin-top: 30px !important;
  }
}

.ope{
  background-color: #F4F4F4;
  border: solid 1px #CCC;
  padding-left: 20px;
  border-radius: 5px;
  padding-bottom: 10px;
  font-family: 'Karla', sans-serif;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.09);
}
.ope p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: #575757 !important;
}
.ope span{
  color: #545454;
}
.inli{
  display: inline-block;
  margin-top: 25px !important;
}
.submit{
  width: 150px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  border:none;
  color:#F4F4F4;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  transition: .2s;
  background-color: #333A56;
  border: 2px solid #333A56;
  outline: none;
  font-family: 'Alegreya Sans', sans-serif;
}


/** tooltips **/

nav a {
  text-decoration: none;
  color:  #E8E8E8;
}
.right-2{
  float: right;
  color:  #E8E8E8;
  margin-right: 15px;
  margin-top:20px; 
  font-size: 34px;
  display: none;
}
.fari{
  margin-top: 0 !important;
  margin-left: 10px;
  color:  #E8E8E8;
}
.gudu{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media (max-width:720px){
  .oi{
    display: none !important;
  }
  .fari{
    margin-top: 3.5px !important;
    margin-left: 0;
  }
  .right-2{
    display: block;
  }
  .aparece{
  display: block !important;
  }
}

.tooltip2 {
    position: relative;
    display: inline-block;
}
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: #f4f4f4;
    color: #575757;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -35px;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f4f4f4 transparent;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}
.top{
    bottom: -60px !important;
}
.menu-2{
    position: absolute;
    font-size: 28px;
    width:100%;
    padding-top: 10px;
    margin-top: 80px;
    text-align: center;
    height: calc(100% - 90px);
    background-color:#E8E8E8;
    overflow: auto;
}
.menu-2 div{
  border-bottom: 1px solid gray;
  padding:20px 0;
  transition:.3s;

}

.menu-2 div:hover{
  opacity: .7;

}
.menu-2 i{
  color: #575757;
  cursor:auto;
  font-size:30px;
}
.menu-2 i:hover{
  font-size:30px;
}
.none-2{
  display: none;
}
.aparece{
  display: none;
}

/** o resto **/
body{
  margin:0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #d3dbe8;
}
.back{
  background-color:#1f243a;
  user-select:none;
  width: 100%;
  height: 100vh;
  margin: 0;
}
.back a
{ 
  text-decoration: none;
  padding-left: 8px;  
  color:#333A56 !important;
  line-height: 25px;
  transition:.3s;
}
.back a:hover{
  color:#52658F !important;
}

.back input
{
  padding: 8px;
  font-family: 'Alegreya Sans', sans-serif;
}
.back input[type="email"], .back input[type="password"], .back input[type="text"]
{
  color:#333A56;
  font-size: 15px;
  outline:none;
  font-family: 'Alegreya Sans', sans-serif;
}
::placeholder{
  font-family: 'Alegreya Sans', sans-serif;
  color:#333A56;
}
.back input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #373737;
}
.back input[type="date"]
{
  background-color: white;
  color:#9e9e9e;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid #b7b7b7;
  outline: none;
  margin-bottom: 2px;
}
.back input[type="date"]:focus{
  border-bottom: 1px solid #C0B283;
}

.back input[type="checkbox"]
{
  outline: none;
  margin-bottom: 10px;
}
.back button[type="submit"]
{
  width: 100%;
  border-radius: 6px;
  border:none;
  color:#F4F4F4;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
  line-height: 30px;
  cursor: pointer;
  transition: .3s;
  background-color: #333A56;
  border: 2px solid #333A56;
  outline: none;
  font-family: 'Alegreya Sans', sans-serif;
}
.back button[type="submit"]:hover
{
  opacity: .85;
}
.back button[type="submit"]:active
{
  color:#333A56;
  background-color: white;

}
.back select
{
  border-radius: 5px;
  padding:13px;
  margin-bottom: 20px;
  font-size: 15px;
  display: block !important;
  color:#C0B283;
  background-color: transparent;
  outline: none;
  font-family: 'Alegreya Sans', sans-serif;
}
.back select:focus
{
  background-color: white;
}
.back select option 
{
   color:#F4F4F4;
   background-color: #333A56;
} 
.back select:not(:checked) 
{
   color:  #9e9e9e;
}
.back .none
{
  display: none;
}
.back .logo
{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: auto;
  padding-top: 2%;
  
}
.back .log
{
  width:400px;
  color:#373737;
  margin-left: auto;
  margin-right: auto;
  padding:40px;
  padding-bottom: 0;
  text-align: center;
  background-color:white;
  user-select: none;
  border-radius: 6px;
  box-shadow: 0px 0px 110px -33px #F7F5E6;
  font-size: 15px;
}
.back .log form{
  padding: 5px;
}
.back .regist
{
  text-align: left;
}
.back .button
{
  text-align: left;
}
.back .mat
{
  width: 160px !important;

}
.back .type
{
  text-align: right;
  width: 320px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.back .w
{
  width:46% !important;
  float:left;
}
.back .date
{
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 4px;
  text-align: right;
}
nav{
  background-color:#52658F;
  z-index: 100;
  height: 80px;
}
.left{
  float:left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  height: 76px;
  background-color: #333A56; 
}
.left img {
  height: 70px;
}
.left img:nth-child(2){
  margin-top: 25px;
  height: 25px;
}
.left1 img:nth-child(2){
  margin-top: 25px;
  height: 25px;
}
.none{
  display: none;
}
.flex{
  display: flex;
}
.flex div{
  flex: 1;
  color:#E8E8E8;
  margin-top: 25px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.feed{
  padding: 10px;
  background-color:  #D3DBE8;
  height: calc(100% - 230px);
  overflow: auto;
  transition: .3s;
}
.qqcoisa{
  border-radius: 5px;
  padding: 20px; 
  background-color: #ffff;
  margin-bottom: 10px;
}
.qqcoisa form{
  margin: 0;
}
.qqcoisa div{
  font-size: 20px;
}
.qqcoisa h2 {
  text-align:center;
}

.qqcoisa input[type='submit']{
  width: 200px;
  border-radius: 6px;
  border:none;
  color:#F4F4F4;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px;
  line-height: 30px;
  cursor: pointer;
  transition: .2s;
  background-color: #333A56;
  border: 2px solid #333A56;
  outline: none;
  font-family: 'Alegreya Sans', sans-serif;

}
.qqcoisa input[type='submit']:hover
{
  opacity: .85;
}
.qqcoisa input[type='submit']:active
{
  color:#333A56;
  background-color: white;

}
.flex .opc{
  background-color: #F4F4F4;
  border: solid 1px #CCC;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;

  font-family: 'Karla', sans-serif;
  font-size: 40px;
  color: #575757;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.09);
}
.flex .opc p{
  font-weight:600;
  font-size: 22px;
  margin: 20px 40px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 2px;
  padding-bottom: 16px;

}
.flex .opc strong{
  font-size: 80px;
  line-height: 110px;
  font-family: 'Karla', sans-serif;
}
.flex .opc span {

  font-weight: 300;
  font-size: 16px;

}
.tot{
  color:#10C979;
}
.flex .opc input[type='number']{
  font-size: 70px;
  margin-top: 15px;
  font-weight:600;
  font-family: 'Karla', sans-serif;
  border-radius: 3px;
  border:1px solid #CCC;
  width: 50%;
  transition: .3s;
  outline: none;
}
.flex .opc input[type='number']:focus{
    border:1px solid #333A56;
}
.trans{
  margin: 10px;
  flex:1;
  background-color: #ffff;
  border:2px solid #ffff;
}
.trans.selected{
    border-color: #52658F;
}
.trans li{
  color: black;
  list-style: none;
}

 #dock-container {
   position: fixed;
   width: 100%;
   height: 130px;   
   margin-left: auto;
   background-color: #52658F;
   margin-right: auto;
   left: 0;
   right: 0;
   bottom:0;
   overflow-x: auto;
   text-align: center;
 }
  #dock-container ul {
   display: flex; 
   padding:0;
   width:710px;
   margin-right: auto;
   margin-left: auto;
   padding-top: 15px;

  }
 #dock-container li {
   list-style-type: none;
   position: relative;
   margin: 0 4px;
   color:#E8E8E8;
   box-shadow: 0px 50px 50px -23px rgba(0,0,0,0.75);
  }

 #dock-container li div{
   text-decoration: none;
   color:#E8E8E8;
   cursor:pointer;
 }
 #dock-container li i {
   width: 50px;
   height: 50px;
   margin: 0 30px;
   font-size: 30px;
   -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, .5)));
   -webkit-transition: all 0.3s;
   -webkit-transform-origin: 70% 100%;
 }
 
 #dock-container li:hover i {
   -webkit-transform: scale(1.5);
   margin: 0 1em;
 }
 
 #dock-container li:hover + li i,
 #dock-container li.prev i {
   -webkit-transform: scale(1.3);
   margin: 0 1em;
 }
 
#dock-container li span {
   position: absolute;
   transition: 0.3s;
   bottom:-20px;
   left: 0;
   font-size: 18px;
   width: 100%;
   padding: 4px 0;
   border-radius: 2px;
   cursor:pointer;
 }
 
 #dock-container li:hover span {
 
   color: #fff;
   background-color: #333A56;
 }

 .sair{
   color:#e74c3c;
 }

/*Meu Robertinho*/
.nav{
  height: 80px;
  background-color:#333A56;
}
.right1{
  float: right;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 40px;
  color:#E8E8E8;
}
.left1{
  float:left;
  height: 80px;
  padding: 0px 10px;
  background-color: #52658F;

}
.left1 img{
  height:74px;
  margin-top: 3px;
}
i{
  transition: .3s;
  cursor: pointer;
}
i:hover{
  margin-top: 0px;
  font-size: 45px;

}
#customers {
    border-collapse: collapse;
    width: 80%;    
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  transition: .3s;
  margin-bottom: 20px;

}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 10px;
    font-family: 'Lato', sans-serif;    
  transition: .3s;
}
#customers tr{
  background-color: #E8E8E8;
  cursor: pointer;
  transition: 0.3s;
}
#customers tr:hover{
  opacity: 0.5;
}
#customers tr:nth-child(even){
  background-color: #F4F4F4 ;
}
#customers td::selection {
  background: #DCD0C0; 
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #333A56;
    color: #F4F4F4;
}
.flex1{
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;  
  margin-top: 20px;  
  transition: .3s;
  justify-content: space-around;
}
.item1{
  flex: 1;    
  background-color: #F4F4F4;
    border: solid 1px #CCC;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(51,58,86,0.3);
    transition: .3s;
}
.no{
  background-color: transparent;
    border: none;
    box-shadow: none;
}
.item1 .border{
  height: 1px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: #ccc;
  border-radius: 5px;

}
.item1 h2{
  margin-bottom: 15px;
} 
h2{
  font-family: 'Alegreya Sans', sans-serif;
    font-size: 50px;
    color: #575757;
}
h3{
  font-family: 'Alegreya Sans', sans-serif;
    font-size: 40px;
    color: #575757;
    text-align: center;
}
.item1:nth-child(1){
  margin-right: 10px;
}
.item1 input{
  height: 30px;

  background-color: transparent;
  padding: 3px;
  border:none;
  border-bottom: 2px solid #52658F;
  outline: none;
  font-size: 16px;
  transition: .3s;
    font-family: 'Alegreya Sans', sans-serif;
  width: 50%;
  color:#333A56;
}
.item1 input:focus{
  width: 60%;
  border-bottom: 2px solid #333A56;

}
.item1 input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #52658F;
}
::placeholder{
  color:#52658F;
}
.item1 button{
  margin: 10px;
  margin-top: 20px;
  width: 150px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #333A56;
  color: #F4F4F4;
  font-size: 16px;
  cursor: pointer;
  border:1px solid #333A56;
    font-family: 'Alegreya Sans', sans-serif;
  outline: none;
  transition: .3s;

    
}
.item1 button:hover{  
  background-color: transparent;
  color: #333A56;
}
.item1 button:active{
  opacity: .5;
}

.item1 p{
  font-size: 20px;
  margin: 0;  
  font-family: 'Lato', sans-serif;

}
.nav i{
  margin-top: 5px;
  font-size: 30px;
  transition: .3s;
  cursor: pointer;
}
.nav i:hover{

  margin-top: 0px;
  font-size: 40px;

}
.ul{
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  max-width: 100%;
  padding: 5px;
    font-family: 'Lato', sans-serif;
  background-color: #F4F4F4;
}

.item1 .list{
  text-align: left;
  border:1px solid #ccc;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.open1{

  background-color: #6ab04c !important;
  border:1px solid #6ab04c !important;

}
.open1:hover{ 
  background-color: transparent !important;
  color: #6ab04c !important;
}
.close1{
  background-color:#eb4d4b !important;
  border:1px solid #eb4d4b !important;

}
.close1:hover{  
  background-color: transparent !important;
  color: #eb4d4b !important;
}
.flex1 b{
  margin-left: 3px;
  margin-right: 10px;

}.nav-home
{
  background-color: transparent;
  height: 100px;
  z-index: 10;
  transition:.3s;
  font-family: "Alegreya Sans", sans-serif;
}
.none
{
  display: none !important;
}
.leftf{
  float: left;
}
.rightf{
  float: right;
  margin-top: 27px;
  margin-right: 50px;
}
.leftf img
{
  height: 70px;
  margin:14px 50px;
  cursor:pointer;
}
.rightf a:nth-child(1)
{
  margin-left: 2px;
}
.leftf img
{
  margin-right: 2px;
}
.rightf a 
{
  color:#E8E8E8;  
  transition: .3s;
  text-decoration: none;
  margin: 20px 30px;
  font-size: 22px;  
  font-family: "Alegreya sans", sans-serif;
}
.rightf a:hover
{
  color:#D0D0D0;
}
.rightf a:active
{
  opacity: 0.7;
}
.rightf a:nth-child(3)
{
  margin: 20px 10px;
}
.rightf .log
{
  display: inline-block;
  padding: 10px 20px;
  border:2px solid #E8E8E8;
  background-color:#E8E8E8;
  color:#495057;
  border-radius: 15px;    
  transition: .3s;
}
.rightf .log:hover
{
  background-color:transparent;
  color:#E8E8E8;
}
#nav-icon
{
  height: 45px;
  width: 55px;
  display: none;
  float:right;
  position: relative;
  margin-right: 30px;
  margin-top: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span 
{
  display: block;
  position: absolute;
  height: 4px;
  width: 55px;
  background: #E8E8E8;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1)
{
  top: -1px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon span:nth-child(2)
{
  top: 17px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3)
{
  top: 35px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon.open span:nth-child(1)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -1px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) 
{
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) 
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 38px;
  left: 8px;
}
.menu
{
  background-color:#52658F;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  font-family: "Alegreya sans", sans-serif;
}
.menu a
{
 color:#E8E8E8;  
  transition: .3s;
  text-decoration: none;
  font-size: 22px;
  z-index: 100;
  width: 100%;
  text-align: center;
  line-height: 60px;
}
.menu a:hover
{
  background-color:#333A56; 
  color:#D0D0D0;
}
.menu a:active
{
  opacity: 0.7;
}
.menu a:nth-child(3)
{
  padding: 5px;  
  background-color:#E8E8E8;
  color:#52658F;
}
.menu a:nth-child(3):hover
{
  color:#E8E8E8;  
  background-color:#333A56; 
}
.containerf
{
  height: 100vh;
}
.apresentation
{
  /*background-image: url("background.jpg"); */
  background-attachment: fixed;
  background-position: 57% 45%;
  position: relative;
  position: relative;
  margin: 0;
  margin-top: -100px;
  z-index: -11;
  text-align: center;
  transition: .2s;
}
.containerf .title
{ 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  transition: .3s;
  min-height: calc(100vh - 100px);
  font-size: 30px;  
  color:#E8E8E8;  
  font-family: "Alegreya sans", sans-serif;

}
.containerf .Slage
{
  flex:1;
}
.containerf .Slage div
{
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}
.containerf .Slage p 
{

  padding: 0 8px;
}
.containerf .Slage div img
{
  flex:0;
  margin: 0;
  transition: .3s;
  width: 80%;

}
.containerf .Slage .borda
{
  background-color: #E8E8E8;
  height: 2px;
}
.tutorial
{
  background-color: #D3DBE8;
  overflow-x: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
} 
.sobref
{
  background-color: #ebebeb;
  color:#495057;
  min-height: calc(100vh - 100px);
  font-family: "Lato", sans-serif;
}
.sobref .conteudo
{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.sobref h2
{
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  margin:0;
  margin-bottom: 40px;
}
.sobref h3
{
  font-size: 25px;
  text-align: left;
}
.sobref p
{
  text-align: justify;
}
.develop
{
  background-color:#52658F;
  min-height: calc(100vh - 100px);
}
footer
{
  background-color:#52658F;
  height: 70px;
  color:#ebebeb;
  font-family: "Alegreya sans", sans-serif;
}
footer img
{
  margin-top: 15px;
  margin-right: 20px;
  height: 40px;
  float: right;
}
footer p
{
  font-size: 14px;
  margin-top: 28px;
  margin-left: 20px;
  float: left;
}
footer p a
{
  color:#ebebeb;
  text-decoration: none;
}
footer p a:hover
{
  text-decoration: underline;
}
.fixed
{
  position: fixed;
  background-color: #333A56; 
  left:0;
  top: 0;
  width:100%;
}
.logof
{
  display: none;
}
.logo-compensatedf
{
  display: none;
}
.slides 
{
  padding: 0;
  width: 85%;
  margin-top: 50px;
  display: block;
  position: relative;
}
.slides * 
{
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.slides input 
{ 
  display: none; 
}
.slide-container 
{ 
  display: block; 
}
.slide 
{
  top: 0;
  opacity: 0;
  width: 100%;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}
.slide img 
{
  width: 100%;
}
input:checked + .slide-container  .slide 
{
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
input:checked + .slide-container  
{ 
  display: block; 
}
.nav-dots 
{
  width: 100%;
  top: -56px;
  height: 15px;
  display: block;
  position: absolute;
  text-align: center;
}
.nav-dots p
{
  color:#333A56;
  font-family: "Alegreya sans", sans-serif;
  margin:10px auto;
  font-size: 18px;
}
.nav-dots .nav-dot
{
  top: -5px;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: #F7F5E6;
  transition: .3s;
}
.nav-dots .nav-dot:hover 
{
  cursor: pointer;
  background-color: #52658F;  
}
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5 
{
  background: #333A56;
}
::-webkit-scrollbar-track
{
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
   background-color: transparent;
}

::-webkit-scrollbar
{
   width: 8px;
   height: 8px;
   background-color: transparent;
}

::-webkit-scrollbar-thumb
{
   background-color: #333A56;
   border-radius: 3px;
} 
.logo-name{
    display: none;
  }
@media (max-width:820px){
  .flex1 input{
    width: 70%;
  }
  .flex1 input:focus{
    width: 80%;
  }
  .flex1{
    flex-direction: column;
  }
  .item1:nth-child(1){
  margin-right: 0px;
  }
  .logo-extend{
    display: none;

  }
  .logo-name{
    display: block;
  }
}
@media (max-width:720px){
  
  .left .none{
    display: block;
  }
  .flex{
    flex-direction: column;
  }
  .flex div{ 
    line-height: 25px;
    margin-top: 0px;
  }
  .qqcoisa input[type='submit']{
    width: 100%;
    line-height: 40px;
  }
  .logo-extendf
  {
    display: none;
  }
  .logof
  {
    display: block;
  }
  .rightf 
  {
    display: none;
  }
  #nav-icon
  {
    display: block;
  }
  .Slage div
  {
    width: 80%;
  }
  .Slage div img
  {
    width: 100%;
  }
  .nav-home
  {
    height: 80px;
  }
  .leftf img
  {
    height: 70px;
    margin:5px 15px;
    cursor:pointer;
  }
  .title
  { 
    height:calc(100vh - 80px);
  }
  .tutorial
  {
    height: calc(100vh - 80px);
  } 
  .sobref
  {
    min-height: calc(100vh - 80px));
  }
  .develop
  {
    height: calc(100vh - 80px);
  }
  .apresentation
  {
    margin-top: -80px;
  }
  .slides 
  {
    width: 100%;
  }

}
@media (max-width:540px){
  
  .flex1 input{
    width: 80%;
  }
  .flex1 input:focus{
    width: 90%;
  }
  .right1{
    margin-right: 5px;
  } 
  .back .log
  {
    width: 100%;
    padding: 20px 0 20px 0;
    border-radius: 0;
  }
  .back button[type="submit"]
  {
    width:90%;
  
  }
  .back .regist
  {
    margin-left: auto;
    margin-right: auto;
  }
  .back .button
  {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .back .type
  {
    width: 99%;
  }
  .back .logo
  {
    width: 75vw;
    height: auto;
  }
}
@media (max-width:360px){
  
  .left img:nth-child(2){
    margin-top: 30px;
    height: 20px;
  }

}