body{
  margin:0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;


}
nav{
  background-color:#DCD0C0;
  padding: 10px 0px;
  z-index: 100;
}
table {
  width: 100%;
}
b{

  font-family: 'Lato', sans-serif;
}
::placeholder{
  font-family: 'Lato', sans-serif;
}
.left{
  float: left;
}
.right{
  float: right;
}
.produto{
  display: inline-block;
  width: 100%;
  padding-right: 10px;
}
.flex{
  display: flex;
  margin: 0;
}
.item{
  flex: 1;

}
.produto p{
  margin: 0px 10px 10px 0px;
}
.campos{
  background-color: #ccc;
  padding: 5px;
  border-radius: 3px;
  width: 90px;
  font-family: 'Alegreya Sans', sans-serif;
}
.item input{
  padding: 4px;
  width: 120px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  background-color: transparent;
  outline: none;

}
.item div{
  margin-bottom: 10px;
}
.item button{
  line-height: 45px;
  margin-top: 8px;
  width: 120px;
  z-index: 20;
  font-size: 16px;
  background-color: #27ae60;
  color:#ebebeb;
  border:1px solid #27ae60;  
  font-family: 'Alegreya Sans', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition:.3s;
  outline: none;
}
.item button:hover{
  background-color: transparent;
  color:#27ae60;
}
/*Sanduba*/
#nav-icon {
  width: 45px;
  height: 34px;
  float: left;
  display: none;
  position: relative;
  margin: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 20;
  transition: .3s;
}
#nav-icon.open{
  transition: .3s;
  float: right;

}


#nav-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 52%;
  background: #373737;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 10px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 20px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 6px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 6px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 90%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 19px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

.container{
 height: calc(100% - 74px);
 background-color: #ede2d5;

}
.menu{
  background-color: #C0B283;
  float:left;
  width: 0px;
  height: 100%;
  transition: .3s;
  z-index: 10;  
}
.op{
  width:300px; 
  color:#495057;
  
}
.tit{
  text-align: center;
  border-bottom: 1px solid #495057;
  font-family: 'Lato', sans-serif;
  width: 80%;
  font-size:18px;
  margin-left: auto;
  margin-right: auto;
}
.img{
  width: 100%;
  height: 80px;
}
.conte{
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;  
  font-size: 14px;
  margin-top: 10px;

}
.rodada{
  margin-top: 2px;
  cursor:pointer;
  padding: 10px;
  background-color: rgba(255,255,255, 0.3);
  transition: .3s;

}
.rodada:hover{
  opacity: .7;
}
.jornal{
  max-height: calc(100% - 80px);
  overflow: auto;
}
.bb{
  width: 40px;
  height: 1px;
  background-color: #495057;
  margin-top: 10px;
  margin-bottom: 10px;

  margin-left: auto;
  margin-right: auto;
}
.conte h4{
  line-height: 20px;
  font-size: 16px;
  margin: 0;
}
.conte span{
  font-size: 14px;
}
.conte p{
  text-align: justify;

}
.feed{
  padding: 10px;
  float: right;
  background-color: #ede2d5;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  overflow: auto;
  transition: .3s;
}
.h{
  height: calc(100% - 80px);
  margin-top: 60px;
}
.resp{
  width: calc(100% - 320px);
}
.qqcoisa{
  border-radius: 5px;
  padding: 20px; 
  background-color: #ffff;
  margin-bottom: 10px;
}
.opcoes{
  text-align: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  transition: .3s;
}
.opcoes i{
  font-size: 30px;
  color:#373737;
  cursor: pointer;
  transition: .3s;
}
.opcoes i:hover{
  font-size: 32px;
}
.func{
  display: flex;
  flex-wrap:wrap;
  color:#495057;
  right: 0;
  transition: .5s; 
  justify-content: center;
  user-select: none;

}
.none{
  display: none;
  height: 0;
}
.func a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color:#373737;
  flex: 1;
  transition: .3s;
  padding: 12px;   
  z-index: 0;
  margin: 5px;
  border-radius: 5px;
  background-color:#ede2d5 ;
}
.func a:last-child{
  background-color: #F4F4F4;
  color:red;
} 
.func a:last-child:hover{

  opacity: .7;
  color:#F4F4F4;
  background-color:rgba(73, 80, 87, .7);
  }
a:hover{
  opacity: .7;
  color:#F4F4F4;
  background-color:rgba(73, 80, 87, .7);
}
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 

}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
@media (max-width: 1209px){
  .h{
  height: calc(100% - 120px);
  margin-top: 100px;
  }
  
  .container{
   height: calc(100% - 126px) ;
  }
}
@media (max-width: 980px){
  .produto{
    display: block;
    width: 100%;
    border:none;
  }

}

@media (max-width: 840px){
 
  .item{
    width: 100%;  
  }
   .item input{
    width: 70%;
   }

}
@media (max-width: 767px){
 .container{
   height: calc(100% - 179px) ;
  }
  
}

@media (max-width: 725px){
  nav{
    height: 50px;
  }
  #nav-icon{
    display: block;
  }
  .menu{
    position: fixed;
    float: none;
  }
  .feed{
    float: none;
    display: block;
  }
  .op{
    width: 100%;
  }
  .resp{
    width: calc(100% - 20px) ;
  }
    .h{
   margin-top: 0px;
} 
  .flex{

    flex-direction: column;

  }

 .func{
    flex-direction: column;
    width:100%;
    position: fixed;
    bottom: 0;
    z-index: 0;
    height: calc(100% - 70px);
    background-color:rgba(73, 80, 87 ,.95); 
  }

  .container{
   height: calc(100% - 70px);
  }

}
@media (max-width: 440px){

  .item{
    width: 100%;
  }
  .item input{
    width: 97%;
  }
  .campos{
    width: 97%;
  }

}